.manprod {
    display: flexbox;
    justify-content: center;
    position: absolute;
    left: 9%;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.carousel-inner {
    height: 400px;
    width: vw;
}

#carousel {
    z-index: 1;
    width: vw;
}

@media (max-width: 768px) {
    .carousel-inner {
        height: 250px;
        width: vw;
    }
}

span {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: xx-large;
    font-style: italic;
    top: 50%;
    left: 25%;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px 0px 20px 0px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  tr, td {
    padding: 10px 30px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
  }
  table, td{
    border: 1px solid black;
  }