<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/checkout.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="check">
        <div>
            <div>
                <div>
                    <h1>Checkout</h1>
                    
                       <form name="checkout" method="#" class="form" action="/" enctype="multipart/form-data">
                            <!-- <div class="name">
                                <label for="first">First name</label>
                                <input type="text" name="first-name" id="first" value="">
                            </div>
                            <div class="name">
                                <label for="last">Last name   </label>
                                <input type="text" name="last-name" id="last">
                            </div>
                             -->
                            
                            
                       <h3 id="order_review_heading">Choose Payment Method</h3>
                       
                           
                           
                           <div id="order_review" class="woocommerce-checkout-review-order">
                               
                       <div id="payment" class="payment">
                            <ul class="choice">
                                <li>
                                    <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod"  data-order_button_text="">
                                    <label for="payment_method_cod">Cash on delivery</label>
                                   <!-- <p>Pay with cash upon delivery.</p> -->
                               </li>
                                <li>
                                    <input id="payment_method_momo" type="radio" class="input-radio" name="payment_method" value="theteller" data-order_button_text="">
                                    <label for="payment_method_cod">Mobile Money<div class="momo"><img src="/images/atmoney.png"><img src="/images/momo.png"><img src="/images/vcash.png"></div></label>
                                </li>
                                <li>
                                    <form action="/val" method="POST">
                                        <div class="coupon">
                                            <input id="#" type="radio" class="input-radio" data-order_button_text="">
                                            Have a coupon? 
                                            <input type="coupon" name="coupon" id="coupon" placeholder="coupon">
                                            <!-- <button type="submit" class="coupon" name="coupon" value="coupon">Apply coupon</button> -->
                                            <input type="submit" value="Validate" formaction="/val">
                                        </div>
                                    </form>
                                    
                                </li>
                           
                       </div>
                       
                               </ul>
                               <div class="form-row place-order">
                               <button type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order">Place order</button>
                               
                               
                       </div>
                           </div>
                       
                           
                       </form>
                       
                       </div>
                    </div>
                </div><!-- row end here -->
            </div><!-- container end here -->
        </div>
        
        <footer class="footer1">
            <div class="">© 2020 Copyright:
                <a class="" href="/"> AmaliEats</a>
            </div>
            <hr>
            <div>
                <i style="font-size:24px" class="fa">&#xf230;</i>
                <i style="font-size:24px" class="fa">&#xf0d4;</i>
                <i style='font-size:24px' class='fa'>&#xf16d;</i>
                <i style="font-size:24px" class="fa">&#xf099;</i>
                <i style="font-size:24px" class="fa">&#xf232;</i>
            </div>
            
        </footer>
        <script src="/js/main.js"></script>
        </body>
        
        </html>
